<div class="container mt-3">
  <h1>New List</h1>
  <%= simple_form_for [@list] do |f| %>
    <%= f.input :name %>
    <%= f.input :photo, as: :file %>
    <%= f.submit "Create", class: "btn draw-border my-3" %>
  <% end %>
  <%= link_to "Go back", lists_path, class: "no-text-decoration mt-3" %>
</div>
