<div class="container mt-3">
  <h1><%= @list.name %></h1>
  <p><% @list.bookmarks.each do |bookmark|%></p>
    <%= bookmark.comment %> :
    <%= bookmark.movie.title %>
    <%= link_to do %>
      <%= image_tag bookmark.movie.poster_url, class: "img-thumbnail mb-3" %>
    <% end %>
    <%= link_to '🗑', bookmark_path(bookmark), method: :delete, data: { confirm: 'Delete movie?' } %></li>
<% end %>
<p><%= link_to "Add Movie", new_list_bookmark_path(@list.id)%></p>
<%= link_to "Go back", lists_path %>
</div>
